@media (min-width: 700px) {

  .name a, .main-nav a {
    padding: 10px 15px;
}

.push {
    padding-top: 74px;
}

.name, .col {
  float: left;
}

.name {
   margin-left: 20px;
}

.container {
    min-height: 500px;
}
}

.primary {
  width: 65%;
}

.secondary {
    width: 35%;
}

.main-nav {
  float: right;
  margin: 9px 20px 0 0;
}

.main-nav li {
  display: inline-block;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
}
